---
import config from "@/config/config.json";
import {
  IoLogoGithub,
  IoSend,
  IoLogoYoutube,
  IoLogoTwitter,
} from "react-icons/io5";

const {
  className,
}: { title?: string; description?: string; slug?: string; className?: string } =
  Astro.props;
---

<ul class={`${className}`}>
  <li class="inline-block">
    <!-- Place this tag where you want the button to render. -->
    <a 
      class="github-button" 
      href="https://github.com/ara-foundation/web" 
      data-color-scheme="no-preference: light; light: light; dark: dark;" 
      data-size="large" 
      target="_blank"
      aria-label="Star ara-foundation/web on GitHub">Star</a>
      <IoLogoGithub />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="twitter share button"
      href={`https://twitter.com/ara_foundation_`}
      target="_blank"
      class="twitter-follow-button"
      rel="noreferrer noopener"
    >
      <IoLogoTwitter /> Follow @ara_foundation_
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="youtube watch"
      href={`https://www.youtube.com/@medet-ahmetson`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoYoutube />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="telegram share button"
      href={`https://t.me/arasangha`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoSend /> Join our Telegram
    </a>
  </li>
</ul>
